@tailwind base;
@tailwind components;
@tailwind utilities;





:root {
  --background: black;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-image: url("../../public/assets/back/universe.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}