@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 10px 10px 15px #061d14;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #08271b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2bb882;
}


:root {
  --background: black;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}